.venv
BBDD_Hospitalizaciones.xlsx
Proyecto integrador_1.md
Proyecto_Integrador_2A_Preparacion_de_datos.ipynb
Proyecto_Integrador_3_Modelamiento.ipynb
Banner_01.jpg
logistic_regression.ipynb
Nurse_01.jpg
Resuelto_Proyecto_Integrador_2A_Preparacion_de_datos.ipynb
test.ipynb